<div>
    <h1>Alterar Produto</h1>
    <form action="/alterarProduto" method="post">
     <input name="id" value="{{produto.id}}" hidden>
     <input value="{{produto.nome}}" type="text" name="nome"/>
     <input value="{{produto.descricao}}" type="text" name="descricao"/>
     <input value="{{produto.preco}}" type="number" step="0.01" name="preco"/>
     <input type="radio" name="vitrine" value="true" checked/>
     <label>produto de vitrine</label>
     <input type="radio" name="vitrine" value="false" />
     <label>produto de catálago{{produto.vitrine}}</label>
     <input value="{{produto.foto}}" type="text" name="foto"/>
     <button>ALTERAR</button>
    </form>
</div>